@media screen and (max-width: 1000px) {
    .hero-image {
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
    .navbar-links {
        flex-direction: column;
        align-items: flex-start;
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px lightgray solid;
    box-shadow: rgba(3, 27, 78, 0.1) 0px 2px 4px;
    z-index: 10;
}

.navbar-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin-left: 2vw;
}

.navbar-links a {
    margin-left: 20px;
    margin-right: 20px;
    color: #031b4e;
}

.social-logos {
    margin-left: 15px;
    margin-right: 15px;
}

.heading-bar {
    height: 8px;
    width: 80px;
    background-color: #031b4e;
    border: none;
    margin-top: 5vh;
}

.footer-links {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
