@media screen and (max-width: 1000px) {
    .hero-image {
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px lightgray solid;
    box-shadow: rgba(3, 27, 78, 0.1) 0px 2px 4px;
    z-index: 10;
}

.navbar-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin-left: 2vw;
}

.navbar-links a {
    margin-left: 20px;
    margin-right: 20px;
    color: #212121;
}

.social-logos {
    margin-left: 15px;
    margin-right: 15px;
}

.heading-bar {
    height: 8px;
    width: 80px;
    background-color: #212121;
    border: none;
    margin-top: 5vh;
}

.footer-links {
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
}

.fa-gradient {
    background: linear-gradient(
        135.9deg,
        rgba(109, 25, 252, 1) 16.4%,
        rgba(125, 31, 165, 1) 56.1%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
